table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  font-size: 30px;
  padding: 10px;
}

div p:nth-child(1) {
  background-color: blueviolet;
}

p {
  width: 300px;
}

@media screen and (min-width: 600px) {
  p {
    width: 30%;
  }
}