body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  background-color: rgb(245, 245, 245);
}

.survey {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
  padding: 50px;
  width: 450px;
  padding: 50px;
  background-image: linear-gradient(to right top, #e1e1e1, #e8e8e8, #f0f0f0, #f7f7f7, #ffffff);
  background-repeat: no-repeat;
  border-radius: 25px;
  margin: 100px;
  -webkit-box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.75);
}

fieldset {
  padding: 20px;
  margin: 20px;
}

button {
  padding: 15px;
  border: 0px;
  border-radius: 25px;
  border-color: transparent;
  font-weight: bold;
}



button:hover {
  background-color: lightgrey;
  -webkit-box-shadow: 0px 17px 24px -15px rgb(129, 129, 129);
  -moz-box-shadow: 0px 17px 24px -15px rgb(129, 129, 129);
  box-shadow: 0px 17px 24px -15px rgb(129, 129, 129);
}

#catButton {
  background-image: linear-gradient(to left bottom, #003585, #6d278b, #ae0078, #da004f, #eb1212);
}