<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="./index.css">
  <title>Reddit Space</title>
</head>

<body>

  <header>
    <div class="logo"><a href="http://localhost:8080/"><img src="./assets/logo.png" alt="Reddit logo"></a></div>
    <div class="title">SPACE</div>
  </header>

  <div id="content" class="maincontent">
    <main>
      <article></article>
    </main>

    <aside class="about">
    <button class="submit"><a href="./post.html">SUBMIT A NEW POST</a></button>
      <h2>ABOUT&nbsp&nbsp<a href="http://www.reddit.com/r/space">r/space</h2></a>
      <p>Share & discuss informative content</p>
      <ul>
        <li>Astrophysics</li>
        <li>Cosmology</li>
        <li>Space Exploration</li>
        <li>Planetary Sience</li>
        <li>Astrobiology</li>
      </ul>
    </aside>
  </div>
  </div>
  <footer>
    <a href="https://www.redditinc.com/">About</a>
    <a href="https://www.reddithelp.com/en/submit-request">Contact</a>
    <a href="https://www.redditinc.com/press">Press</a>
    <a href="https://www.redditinc.com/careers">Careers</a>
    <a href="http://localhost:8080/posts/db">API</a>
    <a href="http://localhost:8080/login.html" class="logout">Log out</a>
  </footer>

  <script src="./index.js"></script>
</body>

</html>