<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./assets/css/post.css">
  <title>Reddit - Write new post...</title>
</head>

<body>
  <header>
    <div class="logo">
      <a href="http://localhost:8080/">
        <img src="./assets/img/logo.png" alt="Reddit logo">
      </a>
    </div>
    <div class="title">SPACE</div>
    <div class="subtitle">POST TO /R/SPACE</div>
  </header>

  <div id="posting">
    <main class="posts">
      <div class="arena">

        <h1>Add a new post</h1>

        <form action="http://localhost:8080/posts" method="POST">
          <p>Title*:</p>
          <input type="text" placeholder="Write title here..." class="newtitle" required>
          <p>URL:</p>
          <input type="text" placeholder="Ex.: www.9gag.com" class="url">
          <div class="arenafooter">

          </div>
          <div class="buttons">
            <button class="submit" type="submit">SUBMIT</button>
            
          </form>
        <button class="submit cancel">
          <a href="http://localhost:8080/">CANCEL</a>
        </button>
      </div>
  </div>
  </main>
  </div>
  <footer>
    <a href="https://www.redditinc.com/">About</a>
    <a href="https://www.reddithelp.com/en/submit-request">Contact</a>
    <a href="https://www.redditinc.com/press">Press</a>
    <a href="https://www.redditinc.com/careers">Careers</a>
    <a href="http://localhost:8080/posts/db">API</a>
  </footer>
  <script src="./assets/js/post.js"></script>
</body>

</html>