@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: lightgrey;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 350px;
  background-image: url("./assets/banner.jpg");
}

.logo img {
  height: 100px;
  width: 100px;
  padding: 0px 100px;
  transition: 0.3s;
}

.logo img:hover{
  transform: rotate(10deg);
  transition: 0.15s;
}

.title {
  color: white;
  font-size: 50pt;
  letter-spacing: 75pt;
  font-weight: lighter;
}

#content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 15px;
  max-width: 100%;
  padding: 20px 100px;
}

.navigation {
  padding: 50px;
  display: flex;
  align-items: center;
  /* !!! */
  flex-grow: 2;
  background-color: white;
  flex-direction: column;
}

.navigation>a>img {
  width: 20px;
  height: 20px;
}

.arena {
  flex-grow: 9;
  display: flex;
  flex-flow: column;
  background-color: whitesmoke;
  min-width: 800px;
}

.arena>h1 {
  color: #2AAF62;
  padding-left: 50px;
}

.arenafooter {
  display: flex;
  flex-direction: row;
  padding-left: 50px;
}

.arenafooter>a {
  padding: 5px;
  text-decoration: none;
}

.arena>p {
  margin: 5px;
  padding-left: 50px;
  color: grey;
}

.arenafooter>a:hover {
  text-decoration: underline;
}

main {
  height: 600px;
}

.post {
  display: flex;
  background-color: white;
  grid-column: span 2;
  grid-row: span 10;
  height: 200px;
}

.about {
  background-color: white;
  grid-column: span 1;
  grid-row: span 15;
  background-color: rgb(235, 235, 235);
}

.about>h2 {
  margin: 0px;
  border: 0px;
  padding: 20px;
  background-color: whitesmoke;
}

.about>li {
  padding: 5px;
}

a:hover {
  filter: brightness(80%);
  transition: 0.25s;
}

a:active {
  filter: brightness(65%);
  transition: 0.25s;
}

footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: rgb(192, 192, 192);
  margin-top: 200px;
}

footer>a {
  padding: 10px;
}

.score {
  font-weight: bold;
  color: grey;
  padding: 5px;
  font-size: 20px;
}

li {
  padding: 10px;
  margin-left: 50px;
  font-size: 15pt;
  text-decoration: none;
}

.about>p {
  padding: 10px;
  margin-left: 50px;
  font-size: 15pt;
}

h1:hover {
  filter: brightness(80%);
}

.arenafooter>a:visited {
  color: grey;
  text-decoration: none;
}

.submit {
  grid-row: span 1;
  height: 50px;
  color: white;
  background-color: #4AA3DF;
  letter-spacing: 5px;
  font-size: 12.5pt;
  font-weight: bold;
  border: none;
  width: 100%;
}

.submit:focus {
  outline: 0px;
}

.submit:hover {
  filter: brightness(110%);
  transition: 0.25s;
}

.submit:active {
  filter: brightness(90%);
  transition: 0.25s;
}

.submit>a {
  text-decoration: none
}

.submit>a:visited {
  text-decoration: none;
  color: white;
}

.cancel {
  background-color: grey;
}

.cancel>a {
  color: white;
}

.cancel:visited {
  color: white;
  text-decoration: none;
}

.cancel:hover {
  background-color: rgb(226, 59, 59);
  transition: 0.25s;
}

input {
  padding: 20px;
  border-radius: 5px;
  margin: 10px;
  border: none;
}

#posting {
  display: flex;
  justify-content: center;
}

.subtitle {
  display: flex;
  color: white;
  font-size: 17pt;
  letter-spacing: 8pt;
  font-weight: lighter;
  padding-top: 175px;
  position: absolute;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 0px;
}

input {
  height: 100px;
  width: 95%;
}

form>p {
  align-self: left;
  font-weight: bold;
  font-size: 12pt;
  color: grey;
}

.comments {
  color: #4AA3DF;
}

.comments:visited {
  color: #4AA3DF;
}