@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');
body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  background-color: lightgrey;
  background-image: url("../img/bodybg-blur.jpg");
  background-size: 200%;
}

form {
  display: inline-block;
  background-color: rgba(255, 255, 255);
  border-radius: 15px;
  width: 300px;
  height: 300px;
  margin: 80px;
  padding: 50px 100px 150px 100px;
  box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.301);
  transition: 0.5s;
}

input {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: none;
  background-color: whitesmoke;
  margin-top: 12.5px;
  transition: 0.5s;
}

/*
#password {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('./assets/login_eye.png');
  background-size: 10%;
}
*/

h2 {
  color: #42403a;
  letter-spacing: 1.5pt;
  font-size: 25pt;
}

button {
  padding: 15px 50px;
  background-color: #42403a;
  border-radius: 25px;
  color: white;
  background-image: url("../img/banner.jpg");
  background-position: center;
  font-size: 11pt;
  font-weight: bold;
  margin: 20px 20px 20px 0px;
  border: 0px;
}

button:hover {
  filter: brightness(150%);
  transition: 0.3s;
}

button:focus {
  outline: 0px;
  filter: brightness(90%);
  transform: scale(0.96);
  transition: 0.1s;
}

label {
  font-size: 11pt;
}

.forgot {
  align-items: right;
  font-size: 10pt;
  margin: 10px 0px;
  display: flex;
  align-items: right;
  justify-content: right;
  color: grey
}

.forgot:visited {
  color: grey
}

input:focus {
  background-color: rgb(228, 228, 228);
  outline: 0px;
  transform: scale(1.03);
  transition: 0.15s;
}

input:hover {
  background-size: 100%;
  background-color: rgb(228, 228, 228);
}

.logo img {
  display: flex;
  height: 50px;
  width: 50px;
  justify-self: center;
}