.container {
  display: flex;
  align-items: center;
  flex-flow: column;
  height: 800px;
}

.item {
  width: 100%;
}

.green {
  background: #51D400;
  flex-grow: 1;
  order: 0;
}

.yellow {
  background: #FFD62A;
  flex-grow: 2;
  order: 2;
}

.purple {
  background: #B02AFF;
  flex-grow: 1;
  order: 1;
}