body {
  display: flex;
  align-items: middle;
  justify-content: center;
  font-family: 'Titillium Web', sans-serif;
  background-color: lightgrey;
}

form {
  display: inline-block;
  background-color: white;
  padding: 100px;
  width: 300px;
  border-radius: 5px;
  margin: 100px;
}

input {
  padding: 10px;
  width: 100%;
}

h2 {
  color: #42403a;
  letter-spacing: 1.5pt;
  font-size: 25pt;
}

button {
  padding: 15px 50px;
  background-color: #42403a;
  border-radius: 25px;
  color: white;
  font-size: 11pt;
  margin: 20px 20px 20px 0px;
}

label {
  font-size: 10pt;
}

.forgot {
  align-items: right;
  font-size: 10pt;
  margin: 10px 0px;

  display: flex;
  align-items: right;
  justify-content: right;
}

input:focus, 
textarea:focus {
  border-color: darkgreen;
}