.container {
  display: flex;
  align-items: center;
}

.item {
  align-self: flex-end;
  height: 100px;
  width: 100px;
}

.green {
  background: #51D400;
}

.yellow {
  background: #FFD62A;
}


.purple {
  background: #B02AFF;
}